---
export interface Props {
	slides: string[]
    alt: string
    currentIndex: number
    src: string
}

const { slides, alt } = Astro.props;
---

<div class="container">
    <span class="backbtn"
        ><svg
            width="66"
            height="66"
            viewBox="0 0 66 66"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <g id="ArrowCircleLeft">
                <g id="Vector" filter="url(#filter0_d_1_249)">
                    <path
                        d="M33 35C39.6274 35 45 29.6274 45 23C45 16.3726 39.6274 11 33 11C26.3726 11 21 16.3726 21 23C21 29.6274 26.3726 35 33 35Z"
                        fill="white"></path>
                    <path
                        d="M33 35C39.6274 35 45 29.6274 45 23C45 16.3726 39.6274 11 33 11C26.3726 11 21 16.3726 21 23C21 29.6274 26.3726 35 33 35Z"
                        stroke="white"
                        stroke-width="2"
                        stroke-miterlimit="10"></path>
                </g>
                <path
                    id="Vector_2"
                    d="M32.2375 27.2375L28 23L32.2375 18.7625"
                    stroke="black"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                <path
                    id="Vector_3"
                    d="M28 23H38"
                    stroke="black"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </g>
            <defs>
                <filter
                    id="filter0_d_1_249"
                    x="0"
                    y="0"
                    width="66"
                    height="66"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                >
                    <feFlood flood-opacity="0" result="BackgroundImageFix"
                    ></feFlood>
                    <feColorMatrix
                        in="SourceAlpha"
                        type="matrix"
                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha"></feColorMatrix>
                    <feOffset dy="10"></feOffset>
                    <feGaussianBlur stdDeviation="10"></feGaussianBlur>
                    <feComposite in2="hardAlpha" operator="out"></feComposite>
                    <feColorMatrix
                        type="matrix"
                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                    ></feColorMatrix>
                    <feBlend
                        mode="normal"
                        in2="BackgroundImageFix"
                        result="effect1_dropShadow_1_249"></feBlend>
                    <feBlend
                        mode="normal"
                        in="SourceGraphic"
                        in2="effect1_dropShadow_1_249"
                        result="shape"></feBlend>
                </filter>
            </defs>
        </svg>

        <div class="slideshow">
            <img class="active" src={slides} alt={alt} />
        </div>
    </span>
</div>


<style>
    .container {
    }
</style>
