



<div class="dropdown">
    <button id="btn" class="toggle"> 
    <select name="dropdown" id="select" class='inactive select'>
        <option value="basic">Select Service Type</option>
        <option value="basic">Basic - #250</option>
        <option value="basic">Premium - #449</option>
        <option value="basic">VIP - #799</option>
    </select>
    </button>
    
  </div>        



  <style>
        .dropdown {
  display: grid;
  place-self: center;
  margin-bottom: 2em;
  

}


.select{
  border: none;
}

option{
    padding: 1em 1.5em;
    color: #175C4C;
text-align: center;
font-family: Tenor Sans;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.toggle {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-inline: 2em;

}


  </style>
