



<div class="dropdown">
    <button id="btn" class="toggle">Select Service Type 
    <select name="dropdown" id="select" class='inactive select'>
        <option value="basic">basic</option>
        <option value="basic">basic</option>
        <option value="basic">basic</option>
    </select>
    </button>
    
  </div>        



  <style>
        .dropdown {
  display: grid;
  place-self: center;
  margin-bottom: 2em;

}

/* .inactive{
    opacity: 0;
} */
.select{
  border: none;
}

option{
    padding: 1em 1.5em;
}
.toggle {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-inline: 2em;
  color: #175C4C;
text-align: center;
font-size: 1rem;
font-family: Tenor Sans;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* .options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.options.open {
  opacity: 1;
  pointer-events: auto;
}

.option {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.option.selected {
  background-color: #f0f0f0;
} */
  </style>
