---

---

<header>
	<nav>
		<a href="/"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M2.75007 10.8119L2.74994 10.8281V19.5C2.74994 19.9641 2.93431 20.4092 3.2625 20.7374C3.59069 21.0656 4.03581 21.25 4.49994 21.25H8.99994C9.46407 21.25 9.90919 21.0656 10.2374 20.7374C10.5656 20.4092 10.7499 19.9641 10.7499 19.5V15.25H13.2499V19.5C13.2499 19.9641 13.4343 20.4092 13.7625 20.7374C14.0907 21.0656 14.5358 21.25 14.9999 21.25H19.4999C19.9641 21.25 20.4092 21.0656 20.7374 20.7374C21.0656 20.4092 21.2499 19.9641 21.2499 19.5V10.8281L21.2498 10.8119C21.246 10.5747 21.1947 10.3407 21.0991 10.1237C21.0034 9.90658 20.8653 9.71084 20.6928 9.54797L20.6787 9.53492L13.1812 2.72154C13.1807 2.72109 13.1802 2.72063 13.1797 2.72017C12.8573 2.4259 12.4365 2.26273 11.9999 2.26273C11.5634 2.26273 11.1426 2.4259 10.8202 2.72017C10.8197 2.72063 10.8192 2.72109 10.8187 2.72154L3.32115 9.53492L3.30707 9.54797C3.13461 9.71084 2.99648 9.90658 2.90082 10.1237C2.80516 10.3407 2.75391 10.5748 2.75007 10.8119Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg></a>
		<a href="/search"><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M11.275 18.75C15.6242 18.75 19.15 15.2242 19.15 10.875C19.15 6.52576 15.6242 3 11.275 3C6.92572 3 3.39996 6.52576 3.39996 10.875C3.39996 15.2242 6.92572 18.75 11.275 18.75Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M16.8437 16.4438L21.3999 21" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>			
			</a>
		<a href="/calender"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M19.5001 3.75H4.50006C4.08585 3.75 3.75006 4.08579 3.75006 4.5V19.5C3.75006 19.9142 4.08585 20.25 4.50006 20.25H19.5001C19.9143 20.25 20.2501 19.9142 20.2501 19.5V4.5C20.2501 4.08579 19.9143 3.75 19.5001 3.75Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M16.5001 2.25V5.25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M7.50006 2.25V5.25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M3.75006 8.25H20.2501" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M15.3751 12L10.9969 16.125L8.62506 13.875" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
			
			</a>
		<a href="/notifications" target="_blank"><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M5.86846 10.5C5.86846 9.61606 6.04257 8.74075 6.38085 7.92408C6.71913 7.10741 7.21495 6.36536 7.84 5.74031C8.46506 5.11525 9.2071 4.61943 10.0238 4.28115C10.8404 3.94288 11.7158 3.76877 12.5997 3.76877C13.4837 3.76877 14.359 3.94288 15.1757 4.28115C15.9923 4.61943 16.7344 5.11525 17.3594 5.74031C17.9845 6.36536 18.4803 7.10741 18.8186 7.92408C19.1569 8.74075 19.331 9.61606 19.331 10.5V10.5C19.331 13.8563 20.0341 15.8063 20.6528 16.875C20.7186 16.9888 20.7532 17.1179 20.7533 17.2494C20.7534 17.3808 20.719 17.5099 20.6535 17.6239C20.588 17.7378 20.4937 17.8325 20.38 17.8985C20.2664 17.9646 20.1374 17.9996 20.006 18H5.19346C5.06204 17.9996 4.93304 17.9646 4.81939 17.8985C4.70574 17.8325 4.61144 17.7378 4.54593 17.6239C4.48041 17.5099 4.44599 17.3808 4.44611 17.2494C4.44622 17.1179 4.48087 16.9888 4.54659 16.875C5.16534 15.8063 5.86846 13.8563 5.86846 10.5Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M9.59998 18V18.75C9.59998 19.5456 9.91605 20.3087 10.4787 20.8713C11.0413 21.4339 11.8043 21.75 12.6 21.75C13.3956 21.75 14.1587 21.4339 14.7213 20.8713C15.2839 20.3087 15.6 19.5456 15.6 18.75V18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M17.7938 2.25C19.3208 3.21395 20.5533 4.57938 21.3563 6.19687" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M3.84357 6.19687C4.64656 4.57938 5.87902 3.21395 7.40607 2.25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		</a>
		<a href="/user" target="_blank"><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M12.2 15C15.5137 15 18.2 12.3137 18.2 9C18.2 5.68629 15.5137 3 12.2 3C8.88627 3 6.19998 5.68629 6.19998 9C6.19998 12.3137 8.88627 15 12.2 15Z" stroke="black" stroke-width="2" stroke-miterlimit="10"/>
			<path d="M3.10623 20.25C4.02773 18.6536 5.35326 17.3279 6.94956 16.4062C8.54586 15.4844 10.3567 14.9992 12.2 14.9992C14.0433 14.9992 15.8541 15.4844 17.4504 16.4062C19.0467 17.3279 20.3722 18.6536 21.2937 20.25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
			</a>
	</nav>
</header>

	<script>
      const path = location.pathname;
      const links = document.querySelectorAll('nav a');

      links.forEach(link => {
        if (link.getAttribute('href') === path) {
          link.classList.add('active');
        }
      });
</script>
<style>
	header {
		position: fixed;
		bottom: 0;
		background: linear-gradient(0deg, #FFF 0%, #FFF 100%), #FFFBFE;
		box-shadow: 0px 2px 60px 0px rgba(0, 0, 0, 0.07) inset;
		width: 100%;
		padding: 2em 1em;
	}
	nav {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2.5rem;
		margin-inline: 1em;
		
	}
	a{
		
		background-color: inherit;
		padding: 0em 0em;
		transition: all ease-in-out 200ms;
		
	}
	svg{

	}
	a.active{

		background-color: #175C4C26;
		padding: .3em 1.6em;
		border-radius: 1em;
	}
</style>
