---
export interface Props {
	img: string;
    servicename: string
    alt: string
    href:string
}

const { img, servicename, alt, href } = Astro.props;
---
<div class="group">
  
  <div class="imgbx">
      <a href={href}>
        <img  alt={alt} src={img} />
      </a>
    </div>
    <div class="name">{servicename}</div>
  </div>
  <style>
    .imgbx{
        border-radius: 5.375rem;
background: #E2F5FA;
padding: 20px;
  text-align: center;
  width: 5em;

}
img{
    display: block;
    width: 100%;
    object-fit: cover;
}
.name{
  text-align: center;
}

  
  </style>